services:
  app:
    image: mcr.microsoft.com/devcontainers/base:bookworm

    volumes:
      - ..:/workspaces/ForkLore:cached
    command: sleep infinity
    depends_on:
      db:
        condition: service_started
        required: true

  db:
    image: postgres:18
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db

volumes:
  postgres-data:
