spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5432/app_db
    username: user
    password: password

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
